html, body {
    width: 100%;
    height: 100%;
}

body {
    background: -webkit-gradient( radial, 500 50%, 20, 500 25%, 600, from(rgb(255, 255, 255)), to(rgb(218, 218, 218)) );
    margin: 0!important;
}

.name {
    width: 200px;
    height: 40px;
    margin-left: 15%;
    padding-top: 20px;
    background: black;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-top: -5px;
    font-family: 'Denk One', sans-serif!important;
    font-size: 17px!important;
}

.name-link {
    text-decoration: none;
}

.name-link:hover {
    text-decoration: none;
}

.header {
}

.main {
    margin-top: 10%;
    margin-left: 20%!important;
    margin-right: 20%!important;
}

.photo {
}

.black-top {
    background-color: black;
    width: 100%;
    height: 10px;
}

.icons {
    margin-top: 60px;
    text-align: center;
}

.text {
    font-family: 'Headland One', serif!important;
    line-height: 1.8;
}
